services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: db
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=demo
      - POSTGRES_PASSWORD=demo
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    networks:
      - demo-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: demo
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app
    env_file: .env.dev
    volumes:
      - ./src:/app/src
      - ./migration:/app/migration
      - ./Cargo.toml:/app/Cargo.toml
      - ./Cargo.lock:/app/Cargo.lock
      - cargo-cache:/usr/local/cargo/registry
      - target-cache:/app/target
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - demo-network

volumes:
  db:
  cargo-cache:
  target-cache:

networks:
  demo-network: